<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/Sajjad/IdeaProjects/sajjad">
        <classes>
            <class name="org.example.MainTests">
                <methods>
                    <exclude name = "registerOverSixteen"/>
                    <include name ="register_email"/>
                   
                </methods>
            </class>
        </classes>
    </test>
</suite>
